h1 {
    text-align: center;
    background: #ffc107;
    margin: 0;
}

html, body {
    margin:0;
    padding:0;
    background-image: url("school-supplies-5541099.jpg");
    background-color: #ffc107;
    background-size: 100%;
    background-repeat: no-repeat;
}

