h1 {
    text-align: center;
    background: #4FC1E8;
    margin: 0;
}

html, body {
    margin:0;
    padding:0;
    background-image: url("school-supplies-5541099.jpg");
    background-color: #4FC1E8;
}
